---
import Page from "$layouts/Page.astro";
import ContentBlock from "$components/blocks/ContentBlock.astro";
import Paper from "$components/containers/Paper.astro";
import Content from "$components/elements/Content.astro";
import PaperTitle from "$components/elements/PaperTitle.astro";
---

<Page title="Playlists">
    <ContentBlock>
        <Paper>
            <PaperTitle>
                <h2>Playlists</h2>
            </PaperTitle>
            <Content theme="paper">
                <p>
                    Over time I've compiled a bunch of playlists - some just to collect my favourite songs
                    together and others for roadtrips and events. This is a great place to start if you want a
                    better idea of my music tastes.
                </p>
                <br />
            </Content>
            <div class="album-grid">
                <a href="/playlists/horse-tunes" class="album">
                    <img src="/images/playlists/horse-tunes.jpg" alt="Horse Tunes" />
                </a>
                <a href="/playlists/milestones" class="album">
                    <span class="placeholder">Milestones</span>
                </a>
                <a href="/playlists/ukpc-northbound" class="album">
                    <img src="/images/playlists/ukpc-northbound.jpg" alt="UKPC Northbound" />
                </a>
                <a href="/playlists/waterworks-any-percent" class="album">
                    <span class="placeholder">Waterworks Any% Speedrun</span>
                </a>
                <a href="/playlists/osu-favourites" class="album">
                    <span class="placeholder">osu! Favourites</span>
                </a>
            </div>
        </Paper>
    </ContentBlock>
    <ContentBlock>
        <Paper>
            <PaperTitle>
                <h2>Annual Mixtapes</h2>
            </PaperTitle>
            <Content theme="paper">
                <p>
                    At the end of every year I put together a playlist featuring some of my favourite and most
                    meaningful songs that I've listened to.
                </p>
                <br />
            </Content>
            <div class="album-grid">
                <a href="/playlists/2025-mixtape" class="album">
                    <img src="/images/playlists/2025-mixtape.jpg" alt="Quasar's Mixtape 2025" />
                </a>
                <a href="/playlists/2024-mixtape" class="album">
                    <img src="/images/playlists/2024-mixtape.jpg" alt="Quasar's Mixtape 2025" />
                </a>
                <a href="/playlists/2023-mixtape" class="album">
                    <span class="placeholder">2023 Mixtape</span>
                </a>
            </div>
        </Paper>
    </ContentBlock>
</Page>

<style lang="scss">
    .album-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));

        gap: 1rem;
    }

    @media screen and (max-width: 550px) {
        .album-grid {
            grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
        }
    }

    .album {
        width: 100%;
        aspect-ratio: 1 / 1;

        border-radius: 0.2rem;

        container-type: inline-size;
        scale: 100%;
        box-shadow: var(--shadow-medium);
        z-index: 0;
        overflow: hidden;
        user-select: none;

        transition-property: scale, box-shadow, z-index;
        transition-duration: 0.15s;

        img {
            width: 100%;
            height: 100%;

            background-color: white;

            object-fit: contain;
        }

        .placeholder {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;

            padding: 5cqw;

            border: 5cqw solid gold;
            background-color: white;

            font-size: 12cqw;
            font-weight: var(--font-medium);
            text-align: center;
        }

        &:hover,
        &:focus-visible {
            scale: 110%;
            z-index: 10;
        }
    }
</style>
