---
import ContentBlock from "$components/blocks/ContentBlock.astro";
import Paper from "$components/containers/Paper.astro";
import Content from "$components/elements/Content.astro";
import PaperTitle from "$components/elements/PaperTitle.astro";
import Page from "$layouts/Page.astro";
---

<Page title="All Socials" back={{ href: "/socials", text: "Socials" }}>
    <ContentBlock>
        <Paper>
            <PaperTitle>
                <h1>All Socials</h1>
            </PaperTitle>
            <Content theme="paper">
                <p>
                    Here is a complete list of all my accounts across the internet so you can be sure it's
                    really me! A lot of these accounts are quiet or inactive, so if you're looking to follow
                    me, see my <a href="/socials">main socials</a> instead.
                </p>
            </Content>
        </Paper>
    </ContentBlock>
    <ContentBlock>
        <Paper>
            <PaperTitle>
                <h1>Domains</h1>
            </PaperTitle>
            <Content theme="paper">
                <table>
                    <tr>
                        <th>Active</th>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://paperbark.horse" target="_blank" rel="noopener noreferrer">
                                paperbark.horse
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>Legacy</th>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://quasarhusky.uk" target="_blank" rel="noopener noreferrer">
                                quasarhusky.uk
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://quasar.dog" target="_blank" rel="noopener noreferrer">
                                quasar.dog
                            </a>
                        </td>
                    </tr>
                </table>
            </Content>
        </Paper>
    </ContentBlock>
    <ContentBlock>
        <Paper>
            <PaperTitle>
                <h1>Accounts</h1>
            </PaperTitle>
            <Content theme="paper">
                <table>
                    <tr>
                        <th colspan="2">Active Accounts</th>
                    </tr>
                    <tr>
                        <th scope="row">Discord</th>
                        <td>paperbarkhorse</td>
                    </tr>
                    <tr>
                        <th scope="row">Telegram</th>
                        <td>
                            <a href="https://t.me/PaperbarkHorse" target="_blank" rel="noopener noreferrer">
                                @PaperbarkHorse
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Steam</th>
                        <td>
                            <a
                                href="https://steamcommunity.com/id/paperbark/"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                Paperbark
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Last.fm</th>
                        <td>
                            <a
                                href="https://www.last.fm/user/PaperbarkHorse"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                PaperbarkHorse
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Bluesky</th>
                        <td>
                            <a
                                href="https://bsky.app/profile/paperbark.horse"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                @paperbark.horse
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">GitHub</th>
                        <td>
                            <a
                                href="https://github.com/QuasarHusky"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                QuasarHusky
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Bandcamp</th>
                        <td>
                            <a
                                href="https://bandcamp.com/paperbarkhorse"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                paperbarkhorse
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">Other Accounts</th>
                    </tr>
                    <tr>
                        <th scope="row">Derpibooru</th>
                        <td>
                            <a
                                href="https://derpibooru.org/profiles/Paperbark"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                Paperbark
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">FurTrack</th>
                        <td>
                            <a
                                href="https://www.furtrack.com/user/Paperbark/likes"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                Paperbark
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">YouTube</th>
                        <td>
                            <a
                                href="https://www.youtube.com/channel/UCDKZFDqXrK87lKHuuc4RjYA"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                @PaperbarkHorse
                            </a>
                        </td>
                    </tr>
                </table>
            </Content>
        </Paper>
    </ContentBlock>
</Page>
