<div class="simple-layout">
    <slot />
</div>

<style lang="scss">
    .simple-layout {
        display: flex;
        flex-direction: column;
        align-self: center;

        width: 100%;
        max-width: 50rem;

        padding-inline: 1rem;
        margin-bottom: 2rem;
        gap: 2rem;
    }
</style>
