---
import Skeleton from "$layouts/Skeleton.astro";
import HelloNametag from "$assets/stickers/hello-nametag.svg";
import Polaroid from "$components/elements/images/Polaroid.astro";
import ArrowButton from "$components/elements/buttons/ArrowButton.astro";
import Paper from "$components/containers/Paper.astro";
import Content from "$components/elements/text/Content.astro";
import StickyNote from "$components/containers/StickyNote.astro";
---

<Skeleton title="Hello" bodyClass="background-carpet">
    <div class="page">
        <div class="page-content">
            <div class="header">
                <Polaroid src="/images/ocs/paperbark/profile.jpg" angle="-8deg" />
                <HelloNametag class="hello-nametag" />
            </div>
            <div class="block hidden" id="quasar-message">
                <StickyNote color="yellow">
                    <Content>
                        <h2>You must've found an old badge...</h2>
                        <p>
                            I don't go by the name <strong>"Quasar"</strong> anymore, please call me
                            <strong>"Paperbark"</strong> instead!
                        </p>
                        <div class="button-container">
                            <ArrowButton href="/name-change" direction="forwards" color="white">
                                Find out more
                            </ArrowButton>
                        </div>
                    </Content>
                </StickyNote>
            </div>
            <div class="block text-block">
                <Paper>
                    <Content>
                        <p><strong>Hey there, it's nice to meet you!</strong></p>
                        <ul>
                            <li>My pronouns are <strong>"He / Him"</strong></li>
                            <li>Very shy, but friendly!</li>
                            <li>Hugs are welcome, but remember to ask first.</li>
                            <li>Please be patient with me, loud and busy spaces can be overwhelming.</li>
                        </ul>
                    </Content>
                </Paper>
            </div>
            <div class="block key-links">
                <ArrowButton href="/home" size="large" color="yellow">Explore my website</ArrowButton>
                <ArrowButton href="/socials" size="large" color="green">Check out my socials</ArrowButton>
                <ArrowButton href="https://paperbark.atabook.org/" color="blue" size="large" external={true}>
                    Leave a nice message
                </ArrowButton>
            </div>
        </div>
    </div>
</Skeleton>

<script>
    const searchParams = new URLSearchParams(window.location.search);

    if (searchParams.has("ref", "quasar")) {
        document.getElementById("quasar-message")?.classList.remove("hidden");
    }
</script>

<style lang="scss" is:global>
    .page {
        min-height: 100svh;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 2rem 1rem;
    }

    .page-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        max-width: 28rem;

        padding-bottom: 4rem;
        gap: 2rem;
    }

    .block {
        width: 100%;
        max-width: 25rem;
    }

    .header {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 1fr;
        align-items: center;

        margin-bottom: 1rem;
        gap: 2%;

        .polaroid {
            transform: translateX(5%);
        }

        .hello-nametag {
            transform: translateX(-1%) rotate(5deg);

            filter: var(--filter-shadow-medium);
        }
    }

    .key-links {
        display: flex;
        flex-direction: column;
        width: 100%;

        padding-inline: 1rem;
        gap: 1rem;
    }
</style>
