---
import Page from "$layouts/Page.astro";
import SiteBanner from "$components/blocks/SiteBanner.astro";
import CenterBlock from "$components/blocks/CenterBlock.astro";
import Paper from "$components/containers/Paper.astro";
import Content from "$components/elements/Content.astro";
import ArrowButton from "$components/elements/ArrowButton.astro";
import ContentBlock from "$components/blocks/ContentBlock.astro";
import StickyNote from "$components/containers/StickyNote.astro";
import PaperTitle from "$components/elements/PaperTitle.astro";
import Polaroid from "$components/elements/Polaroid.astro";
---

<Page title="Home" navigation={false}>
    <SiteBanner />
    <ContentBlock width="30rem">
        <StickyNote color="green">
            <Content theme="sticky-note">
                <h2>My name has changed!</h2>
                <p>
                    Since March 2026, I've started using the name <strong>"Paperbark"</strong> online instead of
                    <strong>"Quasar"</strong>.
                </p>
                <div class="button-container">
                    <ArrowButton href="/name-change" color="white">Find out more</ArrowButton>
                </div>
            </Content>
        </StickyNote>
    </ContentBlock>
    <CenterBlock>
        <Paper>
            <Content theme="paper" style="max-width: 20rem;">
                <p><strong>This site is under construction!</strong></p>
                <p>More things will be here soon, but for now you can check out my social links.</p>
                <br />
            </Content>
            <div style="display: flex; flex-direction: row; justify-content: center;">
                <ArrowButton href="/socials">Check out my socials</ArrowButton>
            </div>
        </Paper>
    </CenterBlock>
    <!-- <ContentBlock>
        <Paper>
            <PaperTitle>
                <h2>Explore</h2>
            </PaperTitle>
            <div style="display: flex; flex-direction: row; flex-wrap: wrap; gap: 1rem;">
                <ArrowButton href="/playlists">Playlists</ArrowButton>
                <ArrowButton href="/shrines">Shrines</ArrowButton>
                <ArrowButton href="/blinkies">Blinkies</ArrowButton>
            </div>
        </Paper>
    </ContentBlock> -->
    <ContentBlock>
        <Paper>
            <PaperTitle>
                <h2>My OCs</h2>
            </PaperTitle>
            <div class="polaroid-grid">
                <a href="/ocs/paperbark" class="grid-item">
                    <Polaroid src="/images/ocs/paperbark/profile.jpg" angle="-4deg" />
                    <div class="item-details">
                        <span class="item-title">Paperbark</span>
                        <span class="item-description">Archivist pony</span>
                    </div>
                </a>
                <a href="/ocs/quasar" class="grid-item">
                    <Polaroid src="/images/ocs/quasar/profile.jpg" angle="2deg" />
                    <div class="item-details">
                        <span class="item-title">Quasar</span>
                        <span class="item-description">The dog</span>
                    </div>
                </a>
                <a href="/ocs/cocoa-butter" class="grid-item">
                    <Polaroid src="/images/ocs/cocoa-butter/profile.jpg" angle="-3deg" />
                    <div class="item-details">
                        <span class="item-title">Cocoa Butter</span>
                        <span class="item-description">Highlands cow</span>
                    </div>
                </a>
                <a href="/ocs/gasoline" class="grid-item">
                    <Polaroid src="/images/ocs/gasoline/profile.jpg" angle="4deg" />
                    <div class="item-details">
                        <span class="item-title">Gasoline</span>
                        <span class="item-description">Fire hazard</span>
                    </div>
                </a>
                <a href="/ocs/maple-scruff" class="grid-item">
                    <Polaroid src="/images/ocs/maple-scruff/profile.jpg" angle="-2deg" />
                    <div class="item-details">
                        <span class="item-title">Maple Scruff</span>
                        <span class="item-description">Pegasus</span>
                    </div>
                </a>
            </div>
        </Paper>
    </ContentBlock>
</Page>

<style lang="scss">
    .polaroid-grid {
        --polaroid-width: min(100%, 12.5rem);

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
        align-items: center;

        gap: 1rem;

        .grid-item {
            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 0.6rem;
            gap: 1rem;

            text-align: center;

            .item-details {
                display: flex;
                flex-direction: column;
                align-self: normal;
            }

            .item-title {
                font-weight: var(--font-semibold);
            }
        }
    }
</style>
