---
import Page from "$layouts/Page.astro";
import SiteBanner from "$components/blocks/SiteBanner.astro";
import CenterBlock from "$components/blocks/CenterBlock.astro";
import Paper from "$components/containers/Paper.astro";
import Content from "$components/elements/Content.astro";
import ArrowButton from "$components/elements/ArrowButton.astro";
import ContentBlock from "$components/blocks/ContentBlock.astro";
import StickyNote from "$components/containers/StickyNote.astro";
---

<Page title="Home" navigation={false}>
    <SiteBanner />
    <ContentBlock width="30rem">
        <StickyNote color="green">
            <Content theme="sticky-note">
                <h2>My name has changed!</h2>
                <p>
                    I've started using the name <strong>"Paperbark"</strong> online instead of my previous name
                    <strong>"Quasar"</strong>.
                </p>
                <div class="button-container">
                    <ArrowButton href="/name-change" color="white">Find out more</ArrowButton>
                </div>
            </Content>
        </StickyNote>
    </ContentBlock>
    <CenterBlock>
        <Paper>
            <Content theme="paper" style="max-width: 20rem;">
                <p><strong>This site is under construction!</strong></p>
                <p>More things will be here soon, but for now you can check out my social links.</p>
                <br />
            </Content>
            <div style="display: flex; flex-direction: row; justify-content: center;">
                <ArrowButton href="/socials">Check out my socials</ArrowButton>
            </div>
        </Paper>
    </CenterBlock>
    <!-- <ContentBlock>
        <Paper>
            <PaperTitle>
                <h2>Explore</h2>
            </PaperTitle>
            <div style="display: flex; flex-direction: row; flex-wrap: wrap; gap: 1rem;">
                <ArrowButton href="/playlists">Playlists</ArrowButton>
                <ArrowButton href="/shrines">Shrines</ArrowButton>
                <ArrowButton href="/blinkies">Blinkies</ArrowButton>
            </div>
        </Paper>
    </ContentBlock> -->
</Page>
