---
import ContentPage from "$layouts/ContentPage.astro";
import NavSection from "$components/navigation/NavSection.astro";
import NavItem from "$components/navigation/NavItem.astro";
import SiteBanner from "$components/site/SiteBanner.astro";
import Paper from "$components/containers/Paper.astro";
import PaperTitle from "$components/elements/text/PaperTitle.astro";
import Content from "$components/elements/text/Content.astro";
---

<ContentPage title="Home">
    <Fragment slot="navigation">
        <NavSection name="Explore">
            <NavItem name="Home" href="/" />
            <NavItem name="Socials" href="/socials" />
            <NavItem name="Guestbook" href="https://paperbark.atabook.org/" />
        </NavSection>
        <NavSection name="Creations">
            <NavItem name="Characters" href="/ocs" />
            <NavItem name="Playlists" href="/playlists" />
            <NavItem name="Shrines" href="/shrines" />
        </NavSection>
        <NavSection name="Favourites">
            <NavItem name="Music" href="/music" />
            <NavItem name="Media" href="/media" />
            <NavItem name="Links" href="/links" />
            <NavItem name="Blinkies" href="/blinkies" />
        </NavSection>
    </Fragment>

    <Fragment slot="contents">
        <NavSection name="On This Page">
            <NavItem name="Welcome" href="#welcome" />
            <NavItem name="About" href="#about" />
            <NavItem name="Webrings" href="#webrings" />
            <NavItem name="Neighbours" href="#neighbours" />
        </NavSection>
    </Fragment>

    <Fragment slot="header">
        <SiteBanner />
    </Fragment>

    <Fragment slot="main">
        <Paper>
            <PaperTitle>
                <h1 id="welcome">Welcome</h1>
            </PaperTitle>
            <Content>
                <p>Hey there, I'm Paperbark! Welcome to my website!</p>
            </Content>
        </Paper>
        <Paper>
            <PaperTitle>
                <h2 id="about">About</h2>
            </PaperTitle>
        </Paper>
        <Paper>
            <PaperTitle>
                <h2 id="webrings">Webrings</h2>
            </PaperTitle>
            <div class="placeholder-content">
                <p>I'm not part of any webrings yet...</p>
            </div>
        </Paper>
        <Paper>
            <PaperTitle>
                <h2 id="neighbours">Neighbours</h2>
            </PaperTitle>
            <div class="placeholder-content">
                <p>It's a little quiet around here right now...</p>
            </div>
        </Paper>
    </Fragment>
</ContentPage>

<style lang="scss">
    .placeholder-content {
        display: flex;
        flex-direction: column;

        padding-block: 2rem;
        gap: 1rem;

        text-align: center;
        font-style: italic;
    }
</style>
