---
import Page from "$layouts/Page.astro";
import SiteBanner from "$components/blocks/SiteBanner.astro";
import Paper from "$components/containers/Paper.astro";
import Content from "$components/elements/Content.astro";
import ArrowButton from "$components/elements/ArrowButton.astro";
import ContentBlock from "$components/blocks/ContentBlock.astro";
import StickyNote from "$components/containers/StickyNote.astro";
import PaperTitle from "$components/elements/PaperTitle.astro";
---

<Page title="Home" navigation={false}>
    <SiteBanner />
    <ContentBlock width="30rem">
        <StickyNote color="green">
            <Content theme="sticky-note">
                <h2>My name has changed!</h2>
                <p>
                    I've started using the name <strong>"Paperbark"</strong> online instead of my previous name
                    <strong>"Quasar"</strong>.
                </p>
                <div class="button-container">
                    <ArrowButton href="/name-change" color="white">Find out more</ArrowButton>
                </div>
            </Content>
        </StickyNote>
    </ContentBlock>
    <ContentBlock>
        <Paper>
            <PaperTitle>
                <h2>Under Construction</h2>
            </PaperTitle>
            <Content theme="paper">
                <p>
                    Hey there! Thanks for checking out my website, but things are still a bit of a work in
                    progress around here right now. I only have a few things you can check out at the moment,
                    but more stuff will come in the future!
                </p>
                <p>
                    For now, you can <a href="/socials">check out my socials</a> or explore what's here already!
                </p>
            </Content>
        </Paper>
    </ContentBlock>
    <ContentBlock>
        <Paper>
            <PaperTitle>
                <h2>Explore</h2>
            </PaperTitle>
            <nav class="nav-list">
                <ArrowButton href="/blinkies">Blinkies</ArrowButton>
                <ArrowButton href="/socials">Socials</ArrowButton>
            </nav>
        </Paper>
    </ContentBlock>
</Page>

<style lang="scss">
    .nav-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        gap: 1rem;
    }
</style>
