---
import Page from "$layouts/Page.astro";
import Paper from "$components/containers/Paper.astro";
import ContentBlock from "$components/blocks/ContentBlock.astro";
import PaperTitle from "$components/elements/PaperTitle.astro";
import Content from "$components/elements/Content.astro";
import ArrowButton from "$components/elements/ArrowButton.astro";
import StickyNote from "$components/containers/StickyNote.astro";
---

<Page title="My name has changed!">
    <ContentBlock width="70ch">
        <Paper>
            <PaperTitle>
                <h1>My name has changed!</h1>
            </PaperTitle>
            <Content theme="paper">
                <p>
                    As of March 2026, I now go by the name <strong>"Paperbark"</strong> online, where previously
                    I was known as <strong>"Quasar"</strong> or <strong>"QuasarHusky"</strong>. This means
                    that a lot of my usernames either will be or have already been changed, and my overall
                    presence online will be quite different from how it used to be.
                </p>
                <p>
                    Be sure to check my <a href="/socials">socials page</a> for an up-to-date list of where I'm
                    active, as this will be the first place I update when things change.
                </p>
            </Content>
        </Paper>
    </ContentBlock>
    <ContentBlock width="70ch">
        <Paper>
            <PaperTitle>
                <h2>Who is Paperbark?</h2>
            </PaperTitle>
            <Content theme="paper">
                <p>
                    Paperbark is my
                    <a
                        href="https://en.wikipedia.org/wiki/Original_character"
                        target="_blank"
                        rel="noopener noreferrer">pony OC</a
                    >!
                </p>
                <p>
                    They're a
                    <a
                        href="https://en.wikipedia.org/wiki/Selective_mutism"
                        target="_blank"
                        rel="noopener noreferrer">selectively mute</a
                    >
                    unicorn who collects memories into scrapbooks so they can be preserved for the future. They're
                    a gentle and affectionate pony with a close-knit group of friends who mostly works in the background
                    archiving things for others to revisit.
                </p>
                <p>
                    They're named after the
                    <a
                        href="https://en.wikipedia.org/wiki/Melaleuca_quinquenervia"
                        target="_blank"
                        rel="noopener noreferrer">Broad-leaved Paperbark</a
                    >
                    tree, which has a bark colour similar to that of their fur!
                </p>
                <div class="button-container">
                    <ArrowButton href="/about">Read more about Paperbark</ArrowButton>
                </div>
            </Content>
        </Paper>
    </ContentBlock>
    <ContentBlock width="65ch">
        <StickyNote>
            <Content theme="sticky-note">
                <p>
                    Note that Paperbark as my OC and Paperbark as "me" are <strong>two distinct things</strong
                    >. As an OC, they have a different personality and character than my actual irl self and
                    use different pronouns.
                </p>
                <p>
                    I personally prefer to use <strong>he/him</strong> pronouns, but when talking about the OC you
                    should use <strong>they/them</strong> pronouns.
                </p>
                <p>
                    Don't worry if this is confusing or if you make a mistake, I totally understand! If in
                    doubt, don't be afraid to ask.
                </p>
            </Content>
        </StickyNote>
    </ContentBlock>
    <ContentBlock width="70ch">
        <Paper>
            <PaperTitle>
                <h2>Why the change?</h2>
            </PaperTitle>
            <Content theme="paper">
                <p>
                    I've used the name "Quasar" since around 2016 as it was the name of my
                    <a href="https://en.wikipedia.org/wiki/Fursona" target="_blank" rel="noopener noreferrer"
                        >fursona</a
                    >
                    at the time, and considering how major the furry community was in my life it made sense to do
                    that.
                </p>
                <p>
                    A lot has changed since then though - I'm less involved with furry stuff now and I've
                    grown a lot as a person over the last decade, so using my fursona (which hadn't changed
                    since I first made him) to represent me didn't feel right anymore.
                </p>
                <p>
                    Paperbark came about during 2024 as I was rediscovering My Little Pony and finding my
                    place within the brony fandom. They hold a lot of importance to me now and are a symbol of
                    what I've grown to become, and I feel a stronger connection to them than I ever did to
                    Quasar.
                </p>
                <p>
                    In a way, this change has been a huge step in understanding my true self and being proud
                    of who I am and the things I love.
                </p>
            </Content>
        </Paper>
    </ContentBlock>
    <ContentBlock width="70ch">
        <Paper>
            <PaperTitle>
                <h2>What about nicknames?</h2>
            </PaperTitle>
            <Content theme="paper">
                <p>
                    I'll admit, "Paperbark" can be a bit of a mouthful to say at times, so you can always call
                    me
                    <strong>"Paper"</strong> or <strong>"PB"</strong> for short if that's easier.
                </p>
                <p>
                    Heck, you can even call me
                    <a
                        href="https://www.youtube.com/watch?v=1cB3hnkKSYY"
                        target="_blank"
                        rel="noopener noreferrer">"Peanut Butter"</a
                    >
                    if you'd really like.
                </p>
            </Content>
        </Paper>
    </ContentBlock>
</Page>
