---
import ArrowButton from "$components/elements/ArrowButton.astro";
import Page from "$layouts/Page.astro";
---

<Page title="Sandbox">
    <div style="display: flex; flex-direction: column; align-self: center; padding: 4rem; gap: 2rem;">
        <ArrowButton href="#">Read more</ArrowButton>
        <ArrowButton href="#" direction="backwards">Read more</ArrowButton>
        <ArrowButton href="#" direction="none">Read more</ArrowButton>
    </div>
</Page>
