---
import ContentBlock from "$components/blocks/ContentBlock.astro";
import Paper from "$components/containers/Paper.astro";
import ArrowButton from "$components/elements/buttons/ArrowButton.astro";
import Content from "$components/elements/text/Content.astro";
import PaperTitle from "$components/elements/text/PaperTitle.astro";
import Skeleton from "./Skeleton.astro";

interface Props {
    title: string;
}

let { title } = Astro.props;
---

<Skeleton {title} bodyClass="background-carpet">
    <main class="page-content">
        <ContentBlock width="30rem">
            <Paper>
                <PaperTitle><h1>Under construction</h1></PaperTitle>
                <img src="/assets/construction.gif" alt="" class="main-image" />
                <Content theme="paper">
                    <p>I'm still working on this page - check back again another time once it's ready!</p>
                </Content>
                <div class="button-container">
                    <ArrowButton direction="backwards" href="/">Return to homepage</ArrowButton>
                </div>
            </Paper>
        </ContentBlock>
    </main>
</Skeleton>

<style lang="scss">
    body {
        display: flex;
        flex-direction: column;
    }

    .page-content {
        min-height: 100svh;

        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 1rem;
    }

    .main-image {
        width: 100%;
        max-width: 20rem;

        margin-inline: auto;
        margin-bottom: 1rem;

        box-shadow: var(--shadow-medium);
    }

    .button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin-top: 1rem;
    }
</style>
