---
import ArrowButton from "$components/elements/buttons/ArrowButton.astro";
import { backIn } from "svelte/easing";
import Skeleton from "./Skeleton.astro";

interface Props {
    title: string;
    navigation?: boolean;
    footer?: boolean;
    back?: { text: string; href: string; }
}

let { title, navigation = true, footer = true, back } = Astro.props;
---

<Skeleton {title} bodyClass="background-carpet">
    <Fragment slot="head"><slot name="head" /></Fragment>

    {
        navigation && (
            <nav class="page-navigation">
                { back ? 
                    <ArrowButton href={back.href} direction="backwards">
                        {back.text}
                    </ArrowButton>
                    <ArrowButton href="/" direction="none">
                        Home
                    </ArrowButton>
                    :
                    <ArrowButton href="/" direction="backwards">
                        Return to homepage
                    </ArrowButton>
                }
            </nav>
        )
    }
    <main class="page-content">
        <slot />
    </main>
    {footer && <footer class="page-footer" />}
</Skeleton>

<style lang="scss">
    body {
        display: flex;
        flex-direction: column;
    }

    .page-content {
        display: flex;
        flex-direction: column;

        flex-grow: 1;
    }

    .page-navigation {
        display: flex;
        flex-direction: flex;
        justify-content: center;
        align-items: center;
        align-self: center;

        padding: 2rem;
        gap: 1rem;
    }

    .page-footer {
        margin-top: 8rem;
    }
</style>
