---
import Skeleton from "./Skeleton.astro";

interface Props {
    title: string;
    navigation?: boolean;
}

let { title, navigation = true } = Astro.props;
---

<Skeleton {title} bodyClass="background-carpet">
    <main class="page-content">
        <!-- TODO: Replace with sticky note button -->
        {
            navigation && (
                <nav class="page-navigation">
                    <a href="/">Return to homepage</a>
                </nav>
            )
        }
        <slot />
    </main>
</Skeleton>

<style lang="scss">
    .page-content {
        display: flex;
        flex-direction: column;

        flex-grow: 1;
    }

    .page-navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;

        padding: 0.2rem 1rem;
        background-color: var(--highlighter-yellow);
    }
</style>
