---
import "$styles/site.scss";
import "$styles/fonts/lexend.scss";

interface Props {
    title: string;
    bodyClass?: string;
}

let { title, bodyClass } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title} - Paperbark</title>

        <slot name="head" />
    </head>
    <body class={bodyClass}>
        <slot />
    </body>
</html>
